@import "../node_modules/bootstrap/scss/bootstrap.scss";

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
    );

@include media-breakpoint-up(xs) {
    
}

@include media-breakpoint-up(sm) {
    
}